name: Artifacts
on: workflow_dispatch
permissions: {}
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - run: date > date.txt              # アーティファクトの生成
      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7  # アーティファクトのアップロード
        with:
          name: uploaded                  # アーティファクト名
          path: date.txt                  # アーティファクト対象のパス
          retention-days: 7               # アーティファクトの保存期間
  download:
    runs-on: ubuntu-latest
    needs: [upload]                       # uploadジョブの実行を待つ
    steps:
      - uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8 # アーティファクトのダウンロード
        with:
          name: uploaded                  # アーティファクト名
          path: downloaded                # ダウンロード先のパス
      - run: cat downloaded/date.txt      # アーティファクトを標準出力
