name: Auto patch merge
on: pull_request
permissions: {}
jobs:
  merge:
    if: ${{ github.event_name == 'dependabot[bot]'}}  # DependabotのPRのみ
    runs-on: ubuntu-latest
    permissions:                                      # マージに必要なパーミッション
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}       # Github CLIのクレデンシャル
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - id: meta                                      # 依存関係のメタデータを取得
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2            # 条件分岐でパッチバージョンかチェック
      - if: ${{ steps.meta.outputs.update-type == 'version-update:semver-patch' }}
        run: |                                        # Github CLIで承認とマージ 
          gh pr review "${GITHUB_HEAD_REF}" --approve
          gh pr merge "${GITHUB_HEAD_REF}" --merge --auto
