name: Cache
on: workflow_dispatch
permissions: {}
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5                         # キャッシュの復元と保存
        with:
          key: test-${{ runner.os }}-${{ github.sha }} # キャッシュキー
          path: ${{ github.workspace}}/dummy           # キャッシュ対象のパス
          restore-keys: |
            test-${{ runner.os }}-
      - run: |
            if [[ -f "${GITHUB_WORKSPACE}/dummy" ]]; then exit 0; fi
            dd if=/dev/urandom of="${GITHUB_WORKSPACE}/dummy" bs=1M count=10
            sleep 30
      - run: ls -lh "${GITHUB_WORKSPACE}/dummy"
