name: Cache
on: workflow_dispatch
permissions: {}
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5                         # キャッシュの復元と保存
        with:
          key: test-${{ runner.os }}-${{ github.sha }} # キャッシュキー
          path: ${{ github.workspace}}/dummy           # キャッシュ対象のパス
          restore-keys: |
            test-${{ runner.os }}-
      - run: |
            if [[ -f "${GITHUB_WORKSPACE}/dummy" ]]; then exit 0; fi
            dd if=/dev/urandom of="${GITHUB_WORKSPACE}/dummy" bs=1M count=10
            sleep 30
      - run: ls -lh "${GITHUB_WORKSPACE}/dummy"
