name: Conditions
on: workflow_dispatch
permissions: {}
jobs:
  hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: echo "Hello"
        if: ${{ contains(github.run_id, '8') }} # ワークフロー実行IDで分岐
