name: Conditions
on: workflow_dispatch
permissions: {}
jobs:
  hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: echo "Hello"
        if: ${{ contains(github.run_id, '8') }} # ワークフロー実行IDで分岐
