name: Modified Cross repo
on: push
permissions: {}
env:
  TARGET_REPO: github-terraform
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5                  # スクリプト実行にはチェックアウトが必要
      - id: create
        run: .github/scripts/token.sh              # Github Appsトークン生成スクリプトの実行
        env:                                       # App IDや秘密鍵は環境変数で渡す事に注意
          APP_ID: ${{ secrets.APP_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: ${{ github.repository_owner }}/${{ env.TARGET_REPO }}
          path: ${{ env.TARGET_REPO }}
          token: ${{ steps.create.outputs.token }}
      - run: cat "${TARGET_REPO}/README.md"
      - run: |                                               # 即時失効APIの実行
          curl --location --silent --request DELETE \
            --url "${GITHUB_API_URL}/installation/token" \
            --header "Accept: application/vnd.github+json" \
            --header "X-Github-Api-Version: 2022-11-28" \
            --header "Authorization: Bearer ${TOKEN}"
        env:
          TOKEN: ${{ steps.create.outputs.token }}
