name: Dump
on: workflow_dispatch
permissions: {}
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5     # ローカルアクション呼び出し前にチェックアウト
      - uses: ./.github/actions/dump/ # ローカルアクションの呼び出し
        id: dump
        with:
          enable-context: 'true'      # 入力パラメータの指定
      - run: echo "${DATE}"
        env:
          DATE: ${{ steps.dump.outputs.dumped-date }} # アクションの出力値を参照
