name: Generate Functions
on: workflow_dispatch
permissions: {}
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Generate Functions
        run: printenv | grep '_FUNC'
        env:
          FORMAT_FUNC: ${{ format('{0}, {1}', 'Hi', 'World') }} #フォーマット
          JOIN_FUNC: ${{ join(github.event.*.html_url, ', ') }} #カンマで結合
