name: Hello
on: workflow_dispatch
permissions: {}
jobs:
  hello:
   runs-on: ubuntu-latest
   steps:
     - run: |
        tree -a
        echo "Hello, World!"
     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
       with:
          ref: main
