name: Manual matrix
on: workflow_dispatch
permissions: {}
jobs:
  print:
    strategy:
      matrix:                 # 多次元マトリックスの定義
        include:              # 組み合わせ条件を手動で列挙
          - os: ubuntu-latest # パターン1
            version: 20
          - os: macos-latest  # パターン2
            version: 18
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.version }}
      - run: echo "${RUNNER_OS}" && node --version
