name: Multi-dimension matrix
on: workflow_dispatch
permissions: {}
jobs:
  print:
    strategy:
      matrix:                             # 多次元マトリックスの定義
        os: [ubuntu-latest, macos-latest] # osプロパティの定義
        version: [18, 20]                 # versionプロパティの定義
    runs-on: ${{ matrix.os }}             # osプロパティの参照
    steps:
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.version }}
      - run: echo "${RUNNER_OS}" && node --version
