name: Multi-dimension matrix
on: workflow_dispatch
permissions: {}
jobs:
  print:
    strategy:
      matrix:                             # 多次元マトリックスの定義
        os: [ubuntu-latest, macos-latest] # osプロパティの定義
        version: [18, 20]                 # versionプロパティの定義
    runs-on: ${{ matrix.os }}             # osプロパティの参照
    steps:
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.version }}
      - run: echo "${RUNNER_OS}" && node --version
