name: Old
on: workflow_dispatch
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6 # 古いバージョンを意図的に指定
        with:
          go-version: 1.25
