name: Prevent security misconfigurations
on: pull_request
permissions: {}
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: config       # セキュリティ設定ミスの検出
          severity: CRITICAL,HIGH # レポート対象の重大度
          exit-code: 1            # 問題発見時の終了ステータス
