# Usage: gh workflow run publish.yml -f version=0.1.0
name: Publish
on:
  workflow_dispatch:
    inputs:
      version:                             # ワークフロー起動時に指定するバージョン
        type: string
        required: true
        description: "バージョン(例: 1.2.3)"
env:
  IMAGE_NAME: gha-image                    # コンテナイメージ名
permissions: {}
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:                           # Github Packagesへの書き込みを許可
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3       # コンテナレジストリへのログイン
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5    # コンテナイメージのメタデータ生成
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}},value=v${{ inputs.version }}
            type=raw,value=latest
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6  # コンテナイメージのビルドとプッシュ
        with:
          push: true
          context: docker/example/
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
