name: Reusable workflows
on:
  workflow_call: # Reusable Workflowsを起動するイベント
    inputs:      # Reusable Workflowsの入力パラメータ定義(平文)
      pr-number:
        type: string
        default: ${{ github.event.pull_request.number }}
        required: false
        description: プルリクエスト番号
    secrets:     # Reusable Workflowsの入力パラメータ定義(Secrets) 
      token:     # actionと違い、reusable workflowsではsecretsで渡す。inputsで渡すことはできない。
        required: true
        description: GitHubトークン
    outputs:     # Reusable Workflowsの出力値定義
      message:
        value: ${{ jobs.comment.outputs.pr-comment }}
        description: メッセージ
permissions: {}
jobs:            # Reusable Workflowsのジョブ定義
  comment:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - id: pr-comment
        run: |
          body="Welcome, ${GITHUB_ACTOR}"
          gh pr comment "${PR_NUMBER}" --body "${body}"
          echo "body=${body}" >> "${GITHUB_OUTPUT}"
        env:
          PR_NUMBER: ${{ inputs.pr-number }}
          GITHUB_TOKEN: ${{ secrets.token }}
    outputs:
      pr-comment: ${{ steps.pr-comment.outputs.body }}
