name: Static Application Security Testing (SAST)
on: pull_request
permissions: {}
jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-python@v5
  #       with:
  #         python-version: '3.x'
  #     - run: pip install bandit # Banditのインストール
  #     - run: bandit -r .        # BanditでPythonのコードスキャン
  test:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./...
