name: Container image scan
on: pull_request
permissions: {}
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy Security Scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        with:
          image-ref: nginx:1.27.4
          severity: CRITICAL,HIGH
          exit-code: 0 # 異常終了コードを許容する
          format: table
